body{
	margin: 0; padding: 0; min-height: 50vh; display: flex; align-items: center; justify-content: center;
    background: #0270ff8a;
    background-image: linear-gradient(rgba(251, 255, 0, 0.75), rgba(255, 196, 0, 0.75)), 
    url('https://cdn-3.expansion.mx/dims4/default/329f45a/2147483647/strip/true/crop/3888x2592+0+0/resize/1200x800!/format/webp/quality/60/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F10%2Faa%2F5ceb61a84b19959941b58b3353ee%2Fflores-amarillas-en-septiembre.jpg');
}
.heart{
    height: 150px; width: 150px; background-color: red; position: relative; transform: rotate(45deg); 
    box-shadow: -20px 20px 150px red; 
    animation: palpitar 0.5s linear infinite alternate;
}
.contenido{
    position: fixed; margin-bottom: 50px; text-align: center;
}
h1{
    color: white;
}
@keyframes palpitar{
    0%{transform: rotate(45deg) scale(1.10);}
    80%{transform: rotate(45deg) scale(1.0);}
    100%{transform: rotate(45deg) scale(0.8);}
}
.heart::before{
    content: ""; position: absolute; height: 150px; width: 150px; background: red; right: 50%; 
    border-radius: 50%; box-shadow: 20px 20px 150px red;
}
.heart::after{
    content: ""; position: absolute; height: 150px; width: 150px; background: red; top: -50%;
    border-radius: 50%; box-shadow: 20px 20px 150px red;
}