body{
	margin: 0px; padding: 0px; min-height: 200vh; display: flex; align-items: center; justify-content: center;
    background: #0270ff8a;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 196, 0, 0)), 
    url('Anghy.jpg');
}
.heart{
    height: 500px; width: 500px; background-color: red; position: absolute; transform: rotate(45deg); 
    box-shadow: -20px 20px 150px red; margin: 400px;
    animation: palpitar 0.5s linear infinite alternate;
}
.contenido{
    position: absolute; margin-bottom: 0px; margin-top: 600px;
}
h1{
    color: white;
}
@keyframes palpitar{
    0%{transform: rotate(45deg) scale(1.10);}
    80%{transform: rotate(45deg) scale(1.0);}
    100%{transform: rotate(45deg) scale(0.8);}
}
.heart::before{
    content: ""; position: absolute; height: 500px; width: 500px; background: red; right: 50%; 
    border-radius: 50%; box-shadow: 20px 20px 150px red;
}
.heart::after{
    content: ""; position: absolute; height: 500px; width: 500px; background: red; top: -50%;
    border-radius: 50%; box-shadow: 20px 20px 150px red;
}
